* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4E5166;
    height: 90px;
    padding: 0 20px;
    color: white;
}
.navbar .menu {
    display: flex; 
}
.navbar .menu ul {
    display: flex; 
    list-style-type: none; 
}
.navbar .menu li {
    padding: 2em; 
}
.navbar .menu li:hover {
    background-color: #63D471;
}

.logo {
    width: 75px;
    height: 75px;
}

.menu-item {
    margin: 0 100px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    font-size: 20px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: -70px;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.contenido {
    width:100%;
    background-color: #7C90A0;
    position: relative;
    padding: 20px;
    color: black;
}

.footer {
    background-color: #4E5166;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="submit"],
form input[type="button"] {
    background-color: #9FABB5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
    background-color: #7C90A0;
}

form input[type="submit"] {
    margin-bottom: 10px;
}
