* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #7C90A0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4E5166;
    height: 90px;
    padding: 0 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .menu {
    display: flex; 
}

.navbar .menu ul {
    display: flex; 
    list-style-type: none; 
}

.navbar .menu li {
    padding: 1.6em 7em; 
}

.navbar .menu li:hover{
    background-color: #63D471;
}

.logo {
    width: 75px;
    height: 75px;
}

.menu-item {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    font-size: 20px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: -70px;
}
.main-content {
    display: flex;
    flex-grow: 1;
    background-color: #7C90A0;
    padding-top: 90px;
}

.content-left {
    width: 80%;
    background-color: #7C90A0;
    padding: 20px;
    position: relative;
}

.contenido {
    width:100%;
    background-color: #7C90A0;
    position: relative;
    padding: 20px;
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar .search-icon {
    margin-right: 10px;
    width: 2.5%;
    height: 2.5%;
}

.user-options {
    margin-left: 10px;
    height: 40px;
    background-color: #4E5166;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    text-align: center;
    outline: none;
    padding: 10px;
    -webkit-appearance: none; /* Para Chrome y Safari */
    -moz-appearance: none; /* Para Firefox */
    appearance: none; /* Para navegadores modernos */
}
.user-options:hover {
    text-decoration: underline;
}
.order-button {
    margin-left: 10px;
    height: 40px;
    background-color: #9FABB5;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: white;
    font-size: 1.1em;
}

.order-button:hover {
    background-color: #63D471;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content-left a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.content-left a:hover {
    color: #63D471;
}


.add-post {
    position: fixed;
    top: 600px; 
    right: 440px;
    z-index: 100;
}

.add-icon {
    width: 60px;
    height: 60px;
    position: fixed; 
    background: none;
    border: none;
    margin-right: 7.5px;
    border-radius: 50%;
    cursor: pointer;
}

.add-icon img {
    width: 100%; 
    height: 100%;
    background-color: transparent;  
}  

.sidebar {
    width: 20%;
    background-color: #798C9C;
    padding: 20px;
    color: white;
    position: fixed;
    height: 100vh;
    right: 0;
}

.sidebar h3 {
    text-align: center;
    font-size: 1.7em;
    border-bottom: 3px solid white;
    }

.sidebar .topics {
    text-align: center;
}

.sidebar .topics p {
    margin: 20px 0;
}

.sidebar .topics p .tema {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.sidebar .topics p:hover {
    background-color: #63D471;
}

.footer {
    background-color: #4E5166;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
}

/* Estilos para linea blanca debajo de boton like */

.num-like {
    margin-bottom: 5px; 
    border-bottom: 1px solid white;
    padding-bottom: 20px; 
}

/* Estilos para PaginaPreguntas */

.bookmark {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.bookmark img {
    width: 24px; 
    height: 24px;
    background-color: transparent;  
}   

.eliminar {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.eliminar img {
    width: 26px; 
    height: 26px;
}

.eliminar-img-hover {
    display: none;
}

.eliminar:hover .eliminar-img {
    display: none;
}

.eliminar:hover .eliminar-img-hover {
    display: inline;
}

.num-like {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.boton-like {
    background: none;
    border: none;
    margin-right: 7.5px;
    cursor: pointer;
}

.boton-like img {
    width: 20px; 
    height: 20px;
    background-color: transparent;  
}   

.post {
    background-color: #7C90A0;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

/* Estilos para PaginaTutoriales */

.video-details {
    width: 40%;
    padding-left: 20px;
}

.video-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.video-details p {
    margin-bottom: 5px;
}
.contenido-tutorial {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.contenido-tutorial iframe {
    flex: 1;
    max-width: 420px;
}

.contenido-tutorial .details-tutorial {
    margin-top: 10px;
    flex: 2;
    color: white;
    font-size: 1em;
    padding: 15px;
}

.details-tutorial p {

    padding: 5px 0;
    border-bottom: 1px solid white;
}

.details-tutorial p:last-child {
    border-bottom: none;
}

.details-tutorial p:first-of-type {
    font-size: 1.1em; 
}


/* Estilos para PaginaGuias */

.download-button, .download-button-viewGuia {
    background-color: #4E5166; 
    color: white; 
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    margin-top: 10px;
}

.download-button-viewGuia{
    background-color: white;
    color: #4E5166;
}

.download-button:hover, .download-button-viewGuia:hover {
    background-color: #63D471; 
    transform: translateY(-3px); 
}

.download-button:active, .download-button-viewGuia:active {
    transform: translateY(0); 
}


/* Asegura que el contenedor esté centrado en la pantalla */
.content-left-borrar {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4E5166;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 500px;
}

/* Estilo para el texto dentro del contenedor */
.content-left-borrar h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: white;
}

.content-left-borrar p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: white;
}

/* Estilo para los botones */
.content-left-borrar .borrar input[type="submit"],
.content-left-borrar .borrar input[type="button"] {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #798C9C;
    color: white;
}

.content-left-borrar .borrar input[type="submit"]:hover,
.content-left-borrar .borrar input[type="button"]:hover {
    background-color: #63D471; /* Color de fondo al pasar el mouse */
    transform: translateY(-3px); /* Efecto de elevación */
}

.content-left-borrar .borrar input[type="submit"]:active,
.content-left-borrar .borrar input[type="button"]:active {
    transform: translateY(0); /* Vuelve al nivel original al hacer clic */
}

/* Estilo páginas View */

.content-left-vistaPregunta,
.content-left-vistaTutorial,
.content-left-vistaGuia {
    padding: 20px;
    width: fit-content;
    min-width: 700px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #4E5166;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: fit-content;
}

.content-left-vistaTutorial{
    min-width: 660px;
    max-width: 660px;
}

.content-left-vistaPregunta h1,
.content-left-vistaTutorial h1,
.content-left-vistaGuia h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.content-left-vistaPregunta p,
.content-left-vistaTutorial p,
.content-left-vistaGuia p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.content-left-vistaPregunta a,
.content-left-vistaTutorial a,
.content-left-vistaGuia a {
    color: white;
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.content-left-vistaPregunta a:hover {
    color: #4CAF50;
}

.content-left-vistaPregunta .respuestas {
    margin-top: 50px;
}

.content-left-vistaPregunta .respuestas h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Estilo para separar las respuestas */
.content-left-vistaPregunta .add-respuesta {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: -25px;
}

.content-left-vistaPregunta .add-respuesta button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-left-vistaPregunta .add-respuesta button:hover {
    background-color: #63D471;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


/*Estilo List Usuarios*/
.titulo{
    color: white;
}
.username{
    padding-left: 1.25em;
}
.seccion{
    color: white;
    padding-left: 1em;
}
.container-u-p ul li,
.container-u-p p {
    color: white;
    list-style: none;
    padding-left: 2em;
    line-height: 30px;
}
.container-u-p a{
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}
.container-u-p a:hover{
    color: #63D471;
}
.admin-switch{
    margin-left: 2em;
}

.user-card {
    background-color: #4E5166;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}  

.usuarios-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 100px; 
}  

/* Estilo Pagina Publicaciones */

.container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.titulo {
    font-size: 2em;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-top: 1em;
}

.seccion {
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 30px 0 20px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 5px;
}

.content-left-publicacion-guardados {
    padding-left: 5%;
    width: 100%;
}

.content-left-publicacion-guardados ul {
    list-style-type: none;
    padding: 0;
}

.content-left-publicacion-guardados li {
    margin: 8px 0;
}

.content-left-publicacion-guardados a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3em;
}

.content-left-publicacion-guardados a:hover {
    color: #63D471; 
}

.default {
    font-style: italic;
    color: white;
}
.no-guardadas {
    color: white;
    font-style: italic;
    margin-left: 3em;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        width: 90%;
    }

    .content-left, .sidebar {
        margin: 0 0 20px 0;
    }
}

/* Formularios */

.main-content-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5em;
}
.formulario-post {
    background-color: #4E5166;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.formulario-post form {
    display: flex;
    flex-direction: column;
}

.formulario-post label {
    color: white;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.formulario-post input, .formulario-post select, .formulario-post textarea{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #9FABB5;
    color: black;
}

.formulario-post select {
    background-color: #9FABB5;
}

.formulario-post textarea {
    height: 100px;
}

.form-buttons {
    display: flex;
    justify-content: right;
}

.cancel-button,
.submit-button {
    background-color: #9FABB5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin-right: 10px;
}

.submit-button:hover,
.cancel-button:hover {
    background-color: #7C90A0;
}


.error-container {
    background-color: white; 
    color: #333;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    position: relative;
    width: 100%; 
    max-width: 300px;
    border: 1px solid lightgray; 
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icono-error {
    font-size: 1.2em;
    margin-right: 8px;
    color: #FFA500;
}

.texto-error {
    font-weight: normal;
}

.error-container:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent; 
}

/* Estilos para los botones de submit y cancelar en el formulario */
.form-buttons .submit-button,
.form-buttons .cancel-button {
    background-color: #798C9C; /* Color de fondo inicial */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-buttons .submit-button:hover,
.form-buttons .cancel-button:hover {
    background-color: #63D471; /* Color de fondo al pasar el mouse */
    transform: translateY(-3px); /* Efecto de elevación */
}

.form-buttons .submit-button:active,
.form-buttons .cancel-button:active {
    transform: translateY(0); /* Vuelve al nivel original al hacer clic */
}

.main-content-user-edit {
    padding-top: 5em;
}

.main-content-vistaPregunta,
.main-content-vistaTutorial,
.main-content-vistaGuia {
    padding-top: 6em;
}

#bookmark-view, #like-view, #eliminar-view {
    float: right;
}

.respuesta {
    margin-top: 1em;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}
