/*---------------Mensajes de error-------------------*/

.error-container {
    background-color: #FFD700; 
    color: #333;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    position: relative;
    width: 100%; 
    max-width: 300px;
    border: 1px solid #FFA500; 
    box-sizing: border-box;
}

.icono-error {
    font-size: 1.2em;
    margin-right: 8px;
    color: #FFA500;
}

.texto-error {
    font-weight: normal;
}

.error-container:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #FFD700 transparent; 
}

/*-----------------------------------------------------*/